
<div class="main">
    <h1>h1</h1>
    <nav>
        <ul class="bar-nav">
            <li>1</li>
            <li>2</li>
            <li>
                <div class="container-car-shop" (click)="showCarShopping()">
                    <p>Car-shop</p>
                </div>
            </li>
        </ul>
  </nav>
  
  
  <h2>nuevo componente</h2>
  
  <app-loadproducts></app-loadproducts>

    <label>
        <input type="radio" name="options" [(ngModel)]="selectedOption" value="option1">
       Search Customer
      </label>
      
      <label>
        <input type="radio" name="options" [(ngModel)]="selectedOption" value="option2">
        Create Customer
      </label>


      @if(this.selectedOption == "option1"){
          <p>varlo 1</p>
          <div>
            <app-formfindperson></app-formfindperson>
        </div>
        }@else if(this.selectedOption=="option2"){
        <p>varlo 2</p>
        <app-createcustomer></app-createcustomer>
      }@else {

      }
      
    
    <!-- <app-loadproducts></app-loadproducts>

    <button (click)="showCreateBill()">Create Bill</button> -->
  <!--   <button (click)="showCreateBill()">Create Bill</button>
    @if(this.showFindPerson){

        <div>
            <app-formfindperson></app-formfindperson>
        </div>
    }@else {
       

    } -->
    


    <div [ngClass]="{'active': isActive, 'disabled':!isActive }">
        <button (click)="showCarShopping()">X</button>
        <app-carshopping></app-carshopping>
    </div>
    

</div>

<app-findperson>
    
</app-findperson>
