
.bar-nav{
  display: flex;
  gap: 10px;
  /* border: 1px solid black; */
  /* margin: 10px; */
  background-color: rgb(50, 65, 104);
  justify-content: right;
  flex-flow: row wrap;
  text-align: center;
}

.bar-nav>li{
  text-decoration: none;
  list-style: none;
}

.container-car-shop{
  padding: 15px;
  background-color: #1a69d7;
}

.main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.title{
  text-align: center;
  font-size: 3rem;
  color: #dc3a55;
}
.container-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.products{
    display: flex;
    flex-flow: column wrap;
  /*   justify-content: start; */
    align-content: center;
    gap: 5px;
    /*  border: 1px solid black; */
    position: relative;
    margin: 15px;
    border-radius: 5px;
    min-width: 150px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    overflow: hidden;
    padding-bottom: 10px;
}

.header-card{
    position: absolute;
    background-color: rgb(96, 42, 117);
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
}

.first-element{
    margin-top: 55px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: red;

}

.title-card{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: red;
}

.description-card{
 color: grey;
}

.content-main{
    margin: 70px 0 10px 0;
}

.content-main>p{
    margin-top: 10px;
}

.footer-card-item{
    display: inline;
    margin: 0 5px 10px 0;
}

.red{
    font-size: 1.5rem;
    color: rgb(222, 79, 13);
}

.container-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.table {
    width: 90%;
    border-collapse: collapse;
    overflow-wrap:break-word;
    word-wrap: break-word;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
    overflow-wrap:break-word;
  }
  
  .table td{
    border: 1px solid #ddd;
  }

  thead>tr>th:first-child{
    border-top-left-radius: 10px;
  }

  thead>tr>th:last-child{
    border-top-right-radius: 10px;
  }

  tbody>tr:hover{
    background-color: #1a69d7;
  }

  .table th {
    background-color: #dc3a55;
    border-collapse: separate;
    word-wrap: break-word;
    padding: 10px;
    overflow-wrap:break-word;
  }




  /* estilos para el carshop componente */

  .active {
    /* display: flex; */
    position:fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgb(96, 42, 117, 0.9);
    height: 100vh;
    width: 100vw;

}

.disabled{
   display: none;
}

  

