<form [formGroup]="findCustomer" class="form-user">
  <label for="cardIdInputFind">cardId</label>
  <input
    type="number"
    name="cardIdInputFind"
    formControlName="cardId"
    placeholder="Insert your card id"
  />
  <button (click)="findCustomerButton()" class="search-customer">Find</button>
</form>




<p>{{ this.userNotFund }}</p>
@if(this.userNotFund == "User find"){
  <table class="table">
    <caption>Detals Customer</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>CELL PHONE</th>
    </tr>
  </thead>

  <tbody>
    @for (item of detailsUser; track $index) {
    <tr>
      <td>{{ item.cardId }}</td>
      <td>{{ item.fullName }}</td>
      <td>{{item.email }}</td>
      <td>{{ item.cellPhone }}</td>
    </tr>
    }
  </tbody>
</table>

  @if(this.detailsUser.length>=1){
    <app-buy></app-buy>
  }@else {
   
  }


<!-- <app-buy  [customerIdInputValue]="this.detailsUser?.cardId></app-buy> -->
}@else{

}


