
.container-table{
    display: flex;
    justify-content: center;
   width: 300px;
   margin: 0 auto;
   overflow: auto;
}

.table {
    width: 90%;
    border-collapse: collapse;
    overflow-wrap:break-word;
    word-wrap: break-word;
    margin: 20px auto;
    table-layout: fixed;
  
  }
  
  td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table th, .table td {
    padding: 8px;
   /*  text-align: left; */
    overflow-wrap:break-word;
  }
  
  .table td{
    border: 1px solid #ddd;
  }
  
  thead>tr>th:first-child{
    border-top-left-radius: 10px;
  }
  
  thead>tr>th:last-child{
    border-top-right-radius: 10px;
  }
  
  tbody>tr:hover{
    background-color: #1a69d7;
  }
  
  .table th {
    background-color: #59c408;
    border-collapse: separate;
    word-wrap: break-word;
    padding: 10px;
    overflow-wrap:break-word;
  }

  .estilo1{
    display: none;
  }

  .estilo2{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(28, 30, 38, 0.887);
  }




  /* buttons modal */

  .container-button-modal{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px auto;
  }


  .button{
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
  }

  .button-cancel{
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #d70e0e;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
  }


  
  .button-exit{
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #8211d3;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
  }




  /* card modal after complete buy  */


  .card-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    min-width: 200px;
    max-width: 300px;
    backdrop-filter: blur(20px);
    background: rgba(20, 21, 27, 0.698);
    border-radius: 16px;
    padding: 24px;
    overflow: auto;
    margin: 0 auto;
    }

    .message-card-buy{
      color: red;
      font-size: 1.5rem;
      
    }