<p>buy works!</p>


<button (click)="showModalBuy()" [disabled]="this.shoppinCar.length<=0">click</button>



@if(this.shoppinCar.length>=1){
    
    <div class="container-table">
        <table class="table">
            <caption>Details Products</caption>
            <thead>
                <tr>
                    <th>idProduct</th>
                    <th>Price P</th>
                    <th>Amount</th>
                    <th>Total T</th>
                    <!-- <th>Ad</th> -->
                </tr>
            </thead>
            <tbody>
                @for (item of this.shoppinCar; track $index) {
                    <tr>
                        <td>{{ item.idProduct }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.total }}</td>
            </tr>
        }@empty { }
            </tbody>
    </table>
    </div>
}@else {
    
}

<div [ngClass]="{estilo1: aplicarEstilo1, estilo2: !aplicarEstilo1 }">

    <div  class="container-button-modal">
        <button class="button" (click)="removeData()">Buy</button>
        <button (click)="cancelBuy()" class="button-cancel">Cancel</button>
        <button class="button-exit">Exit Buy Section</button>
    </div>


    <table class="table">
        <caption>Details Products</caption>
        <thead>
            <tr>
                <th>idProduct</th>
                <th>Price P</th>
                <th>Amount</th>
                <th>Total T</th>
                <!-- <th>Ad</th> -->
            </tr>
        </thead>
        <tbody>
            @for (item of this.shoppinCar; track $index) {
                <tr>
                    <td>{{ item.idProduct }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.total }}</td>
        </tr>
    }@empty { }
    </tbody>
    </table>

</div>


<div [ngClass]="{estilo1:modalBuySuccesfull, estilo2: !modalBuySuccesfull}">

    <div class="card-1">
        <article>
            <h2>title</h2>
            <main>
                <h1 class="my-h1">hola</h1>
                    <p>Buy is Succesfull</p>

                    <button class="button">Other buy</button>
                    <button  class="button-cancel">Exit</button>
            </main>
            <footer>
                <p>my footer</p>
            </footer>
        </article>
    
    </div>

</div>