
    <div>
        <select name="" id="" [(ngModel)]="selectedProductId" (change)="onProductChange(selectedProductId)">
            <option value="todos">todos</option>
            @for (item of this.simpleCategory; track $index) {
                <option [value]="item">{{item}}</option>
            }
        </select>
    </div>
    
    <div class="container">
        
        
        @for (item of this.categoryProducts; track item.id; let idx = $index) {
            <article class="product-card">
                <header>
                    <h2 class="title-header-card">{{item.type}}</h2>
                </header>
                <main>
                    <p>Size: {{item.size}}</p>
                    <h2 class="price-card"><span>$</span>{{item.price * item.amount}}</h2>
                    <div class="amount-card">
                        <button class="button-inc-card" (click)="incrementProduct(idx)">+</button>
                        <button class="button-inc-card" (click)="derrementProduct(idx)">-</button>
                        <p>Amount: {{item.amount}}</p>
                    </div>
                    <div class="button-card-shop-container">
                        <button class="button-card-shop" (click)="addShopingCart(item.idProduct, item.amount)">Add shop car</button>
                    </div>
                </main>
            </article>
        }
        
    </div>
    